.imageDiv{
    position: relative;
    color: white;
}

.imageText1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
    text-align: center;
    font-weight: 300;
    
    font-family:  Arial, Helvetica, sans-serif;
}

.spaceText1{
    font-size:x-large;
    
}

.imageText2 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imageText3 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.imageCenteringHeight {
    height: 100vh ;
    object-fit: cover;
    overflow: hidden;
    display: block;
    max-width: 100vw;
}

.divCenteringHeight {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh ;
}

.imageCenteringWidth {
    width: 100vw ;
    object-fit: cover;
    overflow: hidden;
    display: block;
    max-height: 100vh;
}

.imagePositioning1 {
    object-position: 55% 0%;
}

.imagePositioning2 {
    object-position: 50% 0%;
}

.imagePositioning3 {
    object-position: 50% 0%;
}
