.background{
  background-color: whitesmoke;
}
.center-text{
  display: inline-flexbox;
  text-align: center;
  margin-left:10vw;
  margin-right:10vw;
  font-family:var(normal normal normal 18px/1.4em wfont_b04c8e_f03010a55c4b4a3c8a468807c617d766,wf_f03010a55c4b4a3c8a468807c,orig_hanken_grotesk_regular);
  font-size: large;
  color: gray;
  line-height:4vh;
}

.left-text{
  text-align: left;
}